In [16]:
import pandas as pd
import numpy as np
#series in panda
#passing lists as series
list_1 = ['a','b','c','d']
labels = [1,2,3,4]
series_1 = pd.Series(data=list_1, index = labels)
series_1
#passing numpy arrays as series
array_1 =np.array([1,2,3,4])
series_2 = pd.Series(array_1)

#passing dictionaries as series
dictionary_1 = {'firstname': 'Ann', 'lastname': 'Karanja','age': 23}
series_3 = pd.Series(dictionary_1)
series_3['firstname']
series_2.dtype
#mathematical operations on series
series_2 + series_2
series_2 - series_2
series_2 / series_2
np.exp(series_2)
np.amax(series_2)
#proof that series operations align by lables
series_4 = pd.Series({4:5, 5:6,6:7,7:8 },name='random numbers')
print(series_2 + series_4)
series_4.name

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
dtype: float64

'random numbers'

In [18]:
# dataframes in pandas
array_2= np.random.randint(10,50, size=(3,3))
dataframe1 = pd.DataFrame(array_2,['a','b','c'], ['d','e','f'])
dataframe1

    d   e   f
a  45  37  34
b  36  27  17
c  21  48  18

In [22]:
#dataframe from dictionarie
dictionary_2 = {'one':pd.Series([1.,2.,3.],index=['a','b','c']), 
                'two': pd.Series([1.,2.,3.,4.], index=['a','b','c','d'])}
dataframe2 = pd.DataFrame(dictionary_2)
dataframe2
pd.DataFrame.from_dict(dict([()]),)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0